{
	"name":"nginx",
	"description":"",
	"github":"",
	"master":{
		"ip":"master.example.com"
	},
	"monitor":{
		"type":"port",
		"frequency":"60",
		"detail":{
			"port":8080
		}
	},
	"notify":{
		"hipchat":{
			"token":"<YOUR AUTH TOKEN>",
			"from":"bot",
			"to":"",
			"content":{
				"offline":" @lowstz 你们啊，too young too simple， something native。",
				"online":" @lowstz 你们要知道，美国的华莱士，他比你们不知道高到哪里去了，我和他谈笑风生。"
			}
		},
		"email":{
			"smtp_server":"",
			"smtp_port":587,
			"mail_user":"user",
			"mail_password":"password",
			"subject":"",
			"content":{},
			"send_to_list":[]
		}
	}
}