{
	"name":"nginx",
	"description":"",
	"github":"",
	"master":{
		"ip":"master.example.com"
	},
	"monitor":{
		"type":"port",
		"frequency":"5",
		"detail":{
			"port":8080
		}
	},
	"notify":{
		"type":"hipchat",
		"detail":{
			"token":"",
			"from":"",
			"to":"",
			"content":""
		}
	}
}